<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.satouf.fiskekort">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"

        android:theme="@style/Theme.FiskeKort">


        android:supportsRtl="true">
<!--        Please dont use global theme because some activities may require different theme and your global just overrides it, use: android:theme="@style/*some theme* for each activity" -->
        <activity
            android:name=".license.Licence"
            android:theme="@style/Licence_AppTheme" />
        <activity android:name=".Fishing_card_activity" />

        <activity
            android:name="com.example.fiskekort.license.Licence"
            android:theme="@style/Licence_AppTheme" />

        <activity
            android:name="com.example.fiskekort.Fishing_card_activity"
            android:theme="@style/Theme.FiskeKort.NoActionBar" />

        <activity android:name="com.example.fiskekort.Register" />

        <activity android:name="com.example.fiskekort.MainActivity"/>

        <activity android:name=".Create_fishing_card_activity" />
        <activity android:name=".Register" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.FiskeKort">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
